
.gradient (@startColor: #eee, @endColor: white) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}
@border-radius: 4px;
@gr-title-start: #2e2e2e;
@gr-title-end: #1a1a1a;
@gr-menu-start: #2e2e2e;
@gr-menu-end: #1a1a1a;
@field-error: #ee0101;
body, p{
    margin: 0;
}
body{
    background: #fafafa;
}
h1{
}
textarea{
    resize:none;
}
#taTextElement{
    min-height: 300px;
    &.form-control{
        height: auto;
    }
}
.font-color-wrap{
    padding: 0;
    border: none;
    button{
        border-radius: 0 3px 3px 0;
    }
}
.btn{
    vertical-align: top;
}
.steps{
    // margin-top: 15px;
    padding: 5px 15px;
    margin-bottom: 20px;
    border-radius: 0 0 4px 4px;
    border:1px solid #dadada;
    background: #fff;
    // box-shadow: 0 1px 4px rgba(0,0,0,.2),inset 0 2px 2px -2px rgba(0,0,0,.8);
    ul{
        padding: 0;
        margin: 0;
    }
    li{
        position: relative;
        float: left;
        padding: 6px 20px;
        list-style: none;
        font-size: 16px;
        font-weight: bold;
        color: #959595;
        &.active-step{
            color: #1769ff;
        }
        &:after{
            position: absolute;
            content: ">";
            right: 0;
            top: 1px;
            font-size: 24px;
        }
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            &:after{
                content:"";
            }
        }
    }
    button{
        margin-top: 3px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
.left-part{
    padding-left: 0;
    padding-right: 30px;
    // margin-top: 15px;
    ul{
        padding: 0;
        margin: 0;
    }
    li{
        @height: 46px;
        float: left;
        width: 100%;
        height: @height;
        list-style: none;
        line-height: @height;
        color: #4a4a4a;
        font-size: 14px;
        cursor: pointer;
        background: #fff;
        .menu-icon{
            float: left;
            width: 15%;
            height: @height - 1px;
            font-size: 22px;
            line-height: @height;
            text-align: center;
            &.home-icon{
                line-height: 45px!important;
            }
            // text-shadow: 1px 1px #000;
            // border-right: 1px solid #1c1c1c;
            // .gradient(#4d4d4d, #3a3a3a);
        }
        .menu-label{
            float: left;
            width: 85%;
            height: @height - 1px;
            padding-left: 10px;
        }
        .sub-menu{
            float: left;
            width: 100%;
        }
        &.sliding-menu{
            height: auto;
            // background: #343434;
            // box-shadow: inset 0 2px 4px -2px rgba(0,0,0,0.4),inset 0 -2px 4px -2px rgba(0,0,0,0.4);
            // border-top: 1px solid #252525;
            &:hover{
                background: #fff;
            }
        }
        &:hover{
            background: #eee;
            /* .gradient(#0096ff, #0071e0);
            .menu-icon,.menu-label{
                background: transparent;
            }
            .menu-icon{
                border-right: 1px solid #0859a8;
            } */
        }
        &:first-child{
            border-radius:4px 4px 0 0;
        }

        &:last-child{
            border-radius: 0 0 4px 4px;
            .menu-icon{
                border-radius: 0 0 0 4px;
            }
        }
    }
    /* .heading{
        float: left;
        width: 100%;
        padding: 8px 12px;
        font-size: 10px;
        color:#bdbdbd;
        text-transform: uppercase;
        border-radius: 4px 4px 0 0;
        .gradient(@gr-title-start, @gr-title-end);
    } */
    .home{
        float: left;
        width: 100%;
        border-radius: 5px;
        border:1px solid #dadada;
        li{
            height: 45px;
            border-radius: 5px;
            a{
                float: left;
                width: 100%;
                color: #4a4a4a;
            }
            .menu-icon{
                line-height: 52px;
            }
        }
    }
    .add-media{
        float: left;
        width: 100%;
        margin-top: 18px;
        border-radius: 5px;
        border:1px solid #dadada;
    }
    .customize{
        float: left;
        width: 100%;
        margin-top: 18px;
        border-radius: 0 0 5px 5px;
        border:1px solid #dadada;
        li{
            padding-left: 15px;
        }
    }
}
.right-part{
    padding-right: 30px;
    padding-left: 0;
}
.project-title{
    float: left;
    width: 100%;
    padding: 12px 20px 15px;
    border-radius: 4px 4px 0 0;
    background: #484848;
    h1{
        @height: 34px;
        height: @height;
        margin: 0;
        color: #fff;
        font-size: 20px;
        line-height: @height;
    }
}
.project-content{
    position: relative;
    float: left;
    width: 100%;
    min-height: 400px;
    margin-bottom: 20px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 5px #c7c7c7;
    &.preview-content{
        box-shadow: none;
        border-radius: 0;
    }
    .project-item{
        position: relative;
        float: left;
        width: 100%;
    }
    .textarea{
        resize:none!important;
    }
    .text-item, .embed-item{
        position: relative;
        float: left;
        width: 100%;
        padding: 25px 15px;
    }
    .item-hover-box{
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: rgba(0, 0, 0, .3);
        z-index: 10;
        display: none;
        .item-settings{
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            text-align: center;
            margin-top: -17px;
            button{
                margin-right: 5px;
                border-radius: 5px;
                background: #fff;
                &:hover{
                    background: #ccc;
                }
            }
        }
    }
    &:hover{
        .item-hover-box{
            display: inline-block;
        }
    }
    .embed-container{
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 4px;
    }
    .text-toolbar-bg{
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        height: 40px;
        background: #fafafa;
    }
    .text-angular-toolbar{
        padding: 3px 0;
        margin-bottom: 10px;
        text-align: center;
        background: #fafafa;
        .btn-group{
            margin-left: 4px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
}
.cover-thumb{
    float: left;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    text-align: center;
    background: top center no-repeat;
    background-size: cover;
    button{
        margin-top: 84px;
    }
}
.set-color-box, .set-image-box{
    @height: 34px;
    float: left;
    width: 100%;
    margin-top: 5px;
    label{
        float: left;
        margin-bottom: 0;
        line-height: @height;
        padding-right: 10px;
    }
    button{
        float: left;
    }
    .set-bg-color{
        float: left;
        height: @height;
        width: 100px;
        margin-left: 4px;
        border: 1px solid #dadada;
    }
    /* &:hover{
        .set-bg-color{
            border-color: #fff;
        }
    } */
}
.set-image-box{
    margin-bottom: 10px;
}
.follow{
    
}
.save-content{
    margin-top: 10px;
}
.add-content{
    float: left;
    width: 100%;
    height: 20px;
    padding-top: 3px;
    .add-content-menu{
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        background: #ccc;
        button{
            position: relative;
            top: -8px;
            z-index: 1;
        }
        &:after{
            content: " ";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 1px;
            background: @gr-title-start;
            z-index: 0;
        }
    }
}
.cover-box{
    padding: 25px 10px;
    margin-bottom: 20px;
    text-align: center;
    border: 5px dashed #ccc;
}
.modal-open .modal{
    background: rgba(0, 0, 0, .5);
}
.modal-header{
    display: inline-block;
    width: 100%;
    padding: 0;
}
.modal-body{
    float: left;
    width: 100%;
    border: none;
}
.modal-footer{
    border: none;
}
.np{
    padding: 0;
}
.button-default{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #f5f8fa;
    background: linear-gradient(0deg, #fff, #f5f8fa);
    background-color: #ccd6dd;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}
.button-cancel{
    margin-top: 10px;
    background-color: #f5f8fa;
    background: linear-gradient(0deg, #fff, #f5f8fa);
    background-color: #ccd6dd;
    background-repeat: no-repeat;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    color: #66757f;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    padding: 8px 16px;
    position: relative;
}
.button-edit{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.button-remove{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.remaining-chars{
    float: left;
    margin-top: 5px;
    color: #898989;
    font-size: 12px;
}
.preview-container{
    margin: 0 auto;
}
.preview-right{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    .right-block{
        float: left;
        width: 100%;
        background: #fafafa;
    }
    .heading{
        float: left;
        width: 100%;
        margin-bottom: 5px;
        color: #333;
        font-weight: bold;
        font-size: 14px;
    }
}
.item-type-embed{
    text-align: center;
}
.project-item-image{
    width: 100%;
}
.project-tags{
    .tags{
        display: block;
        width: 100%;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        .tag-item{
            background: #cde69c;
            color: #638421;
            border: 1px solid #a5d24a;
            .remove-button {
                color: #82ad2b;
            }
        }
    }
}
.left-footer{
    float: left;
    width: 100%;
    background: #e8e9eb;
    li{
        float: left;
        width: 33%;
        height: auto;
        padding: 10px 0!important;
        line-height: normal;
        text-align: center;
        font-size: 12px;
        text-shadow: 1px 1px 0px #fff;
        background: transparent;
        &:hover{
            background: transparent;
        }
        &:first-child{
            border: none;
            border-radius: 0 0 0 5px;
        }
        &:last-child{
            border: none;
            border-radius: 0 0 5px 0;
        }
    }
}
.msl-search-field{
    margin-top: 15px;
}
.msl-search-container{
    position: relative;
    .msl-results-container{
        position: absolute;
        width: 100%;
        top: 34px;
        left: 0;
        z-index: 10;
        background: #fff;
        .msl-search-item{
            float: left;
            width: 100%;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-top: none;
            &.selected{
                background: darken(#ccc, 10%);
            }
            &:last-child{
                // border-bottom: none;
            }
        }
        .user-image{
            float: left;
            width: 50px;
            height: 50px;
            background: center no-repeat;
            background-size: cover;
            border-radius: 50%;
            border: 1px solid #ccc;
        }
        .user-info{
            float: left;
            width: calc(100% - 50px);
            padding-left: 10px;
        }
        .user-names{
            margin-bottom: 5px;
            font-weight: bold;
        }
        .user-job{
            font-size: 12px;
        }
    }
}
.multiSelect{
    >button{
        width: 100%;
        text-align: left;
        background: transparent;
    }
}
.error-field{
    border-color: @field-error;
}
.settings-categories{
    &.error-field{
        > span > button{
            border-color: @field-error;
        }
    }
}