<!DOCTYPE html>
<html ng-app="MslEditor">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
    <!-- <link rel="stylesheet/less" type="text/css" href="css/styles.less" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.2.0/less.min.js"></script> -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap-colorpicker/css/colorpicker.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" type="text/css" href="js/angular-multi-select/isteven-multi-select.css">

    <link rel="stylesheet" type="text/css" href="css/editor.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-sanitize.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script> 
    <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script> 
    
    <!-- <script src='bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js'></script> -->
    <!-- <script src='bower_components/angular-wysiwyg/angular-wysiwyg.js'></script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/textAngular/1.3.0/textAngular.min.js"></script> -->
    <!-- <link rel='stylesheet' href='bower_components/textAngular/src/textAngular.css'> -->
    <!-- <script src='bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='bower_components/textAngular/dist/textAngular.min.js'></script> -->
    <script type="text/javascript" src="js/textAngular/textAngular-dropdownToggle.js"></script>
    <script type="text/javascript" src="js/textAngular/bootstrap-colorpicker-module.js"></script>
    <script type="text/javascript" src="js/textAngular/textAngular-sanitize.js"></script>
    <script type="text/javascript" src="js/textAngular/textAngular.js"></script>
    <script type="text/javascript" src="js/textAngular/textAngular.js"></script>
    <script type="text/javascript" src="js/angular-multi-select/isteven-multi-select.js"></script>

    <script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="build/the-editor.min.js" type="text/javascript"></script>
</head>
<body>
<!-- <div class="container-fluid" ng-controller="SearchCtrl">
    <form class="container">
        <div class="col-md-6">
            <div class="msl-search-container">
                <input type="text" class="form-control" ng-model="data.search" msl-search-field>
                <div class="msl-results-container" msl-search-plugin="data.search"></div>
            </div>
        </div>
    </form>
</div> -->
    <div class="container" ng-controller="MainCtrl">
        <div class="row">
            <div class="col-md-3 left-part">
                <div follow>
                    <div class="home">
                        <!-- <p class="heading">Add media</p> -->
                        <ul>
                            <li class="menu-item">
                                <a href="/">
                                    <span class="menu-label">Home</span>
                                    <span class="menu-icon home-icon">
                                        <span class="fa fa-home"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="add-media">
                        <!-- <p class="heading">Add media</p> -->
                        <ul>
                            <li class="menu-item" ng-file-select ng-file-change="onFileSelect($files, $event)">
                                <span class="menu-label">Upload Files</span>
                                <span class="menu-icon">
                                    <span class="glyphicon glyphicon-cloud-upload"></span>
                                </span>
                            </li>
                            <li class="menu-item" ng-click="addEmbedMedia()">
                                <span class="menu-label">Embed Media</span>
                                <span class="menu-icon">
                                    <span class="glyphicon glyphicon-music"></span>
                                </span>
                            </li>
                            <li class="menu-item" ng-click="addText()">
                                <span class="menu-label">Add text</span>
                                <span class="menu-icon">
                                    <span class="glyphicon glyphicon-text-size"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="customize">
                        <!-- <p class="heading">Customize design</p> -->
                        <ul>
                            <li class="menu-item sliding-menu">
                                <span>Background</span>
                                <div class="sub-menu">
                                    <div class="set-color-box">
                                        <label>Color: </label>
                                        <div class="set-bg-color" colorpicker="hex" colorpicker-position="right" ng-model="data.background" ng-style="{background: data.background}" ng-change="setBackgroundColor()"></div>
                                    </div>
                                    <div class="set-image-box">
                                        <label>Image: </label>
                                        <button class="btn btn-primary" ng-file-select ng-file-change="setBackgroundImage($files, $event)">
                                            Upload image
                                        </button>
                                    </div>  
                                </div>
                            </li>
                        </ul>
                        <ul class="left-footer">
                            <li><a href="http://zion.mandreev.net/site/pages/contact-us" title="Contact us">Contact us</a></li>
                            <li><a href="http://zion.mandreev.net/site/pages/service" title="Help Center">Help Center</a></li>
                            <li><a href="http://zion.mandreev.net/site/pages/about-us" title="About Us">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7 right-part">
                <div class="col-md-12 steps">
                    <ul>
                        <li ng-class="{'active-step': input.currentStep == 1}" class="">
                            <span>Content</span>
                        </li>
                        <li ng-class="{'active-step': input.currentStep == 2}" ng-click="setCover()">
                            <span>Cover</span>
                        </li>
                        <li ng-class="{'active-step': input.currentStep == 3}" ng-click="setSettings()">
                            <span>Settings</span>
                        </li>
                    </ul>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="showPreview()">Preview</button>
                        <button type="button" class="btn btn-primary" ng-click="saveProject()">Save</button>
                        <button type="button" class="btn btn-success" ng-click="setCover()">Continue</button>
                    </div>
                </div>
                <div class="project-title">
                    <h1 ng-mouseenter="showEditButton = true" ng-mouseleave="showEditButton = false">
                        <span ng-bind="data.projectTitle" ng-if="data.projectTitle"></span>
                        <span ng-bind="input.defaultTitle" ng-if="!data.projectTitle"></span>
                        <button type="button" class="button-edit" ng-click="editProjectTitle()" ng-show="showEditButton">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </h1>
                </div>
                <div class="project-content" ng-style="{background: getBackground()}">
                    <div class="project-item" 
                        ng-repeat="projectItem in data.items" 
                        ng-class="{'last-item': $last}"
                        ng-click="containerClick($event)"
                        ng-mouseenter="projectItemHover('enter')"
                        ng-mouseleave="projectItemHover('leave')" 
                        on-hover>
                        <div ng-hide="projectItem.isActiveEdit === true">
                            <div class="text-item" ng-class="'item-type-'+projectItem.type" ng-bind-html="parseHtml($index)"></div>
                            <div class="item-hover-box" ng-if="showHoverBox">
                                <div class="item-settings">
                                    <button type="button" class="button-default" 
                                            ng-click="moveItem('up', $index)"
                                            ng-if="!$first">

                                        <i class="fa fa-arrow-circle-up"></i>
                                    </button>
                                    <button type="button" class="button-default" 
                                            ng-click="moveItem('down', $index)" 
                                            ng-if="!$last">

                                        <i class="fa fa-arrow-circle-down"></i>
                                    </button>
                                    <button type="button" class="button-edit" ng-click="editItem($index)" 
                                        ng-if="projectItem.type != 'file'">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button type="button" class="button-remove" ng-click="removeItem($index)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div ng-show="projectItem.isActiveEdit === true">
                            <div class="text-item" ng-if="projectItem.type == 'text'">
                                <div class="text-toolbar-bg"></div>
                                <div text-angular
                                    ta-toolbar="config.textAngularToolbar"
                                    ta-toolbar-class="text-angular-toolbar"
                                    ng-model="projectItem.content"></div>
                                <p class="add-item-error" ng-bind="addItemError"></p>
                                <button type="button" class="btn btn-success save-content" ng-click="saveItem($index)">Save</button>
                                <div class="button-cancel" ng-click="cancelItem($event)">Cancel</div>
                            </div>
                            <div class="embed-item" ng-if="projectItem.type == 'embed'">
                                <div class="embed-container">
                                    <textarea class="form-control embed-code" ng-model="projectItem.content"></textarea>
                                    <p class="add-item-error" ng-bind="addItemError"></p>
                                    <button type="button" class="btn btn-primary save-content" ng-click="saveItem($index)">Embed content</button>
                                    <div class="button-cancel" ng-click="cancelItem($event)">Cancel</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-content" ng-mouseenter="showAddContent = true" ng-mouseleave="showAddContent = false">
                        <div class="add-content-menu" ng-show="showAddContent">
                            <button type="button" class="btn btn-default" ng-file-select ng-file-change="onFileSelect($files, $event)">
                                <span class="glyphicon glyphicon-picture"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="addEmbedMedia()">
                                <span class="glyphicon glyphicon-music"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="addText()">
                                <span class="glyphicon glyphicon-text-size"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>