<div class="modal-header">
    <div class="project-title">
        <h1>
            <span ng-bind="config.modalTitle"></span>
        </h1>
    </div>
</div>
<div class="modal-body">
    <div ng-if="config.type == 'edit-title'">
        <input type="text" class="form-control" placeholder="{{config.defaultTitle}}" ng-model="edit.projectTitle" maxlength="50" />
        <p class="remaining-chars">{{50 - edit.projectTitle.length}} Characters Left</p>
    </div>
    <div ng-if="config.type == 'set-cover'">
        <div class="cover-thumb" 
            ng-if="data.cover"
            ng-style="{'background-image':'url('+data.cover+')'}"
            ng-mouseenter="coverHover = true" ng-mouseleave="coverHover = false">

            <button type="button" class="btn btn-default" 
                ng-if="coverHover"
                ng-file-select ng-file-change="setCoverImage($files, $event)">Upload cover</button>
        </div>
        <div class="cover-box" ng-if="!data.cover">
            <button type="button" class="btn btn-default" ng-file-select ng-file-change="setCoverImage($files, $event)">Upload cover</button>
        </div>
        <input type="text" class="form-control" placeholder="{{config.defaultTitle}}" ng-model="edit.projectTitle" maxlength="50" />
        <p class="remaining-chars">{{50 - edit.projectTitle.length}} left</p>

    </div>
    <div ng-if="config.type == 'set-settings'">
        <div class="col-md-6">
            <div class="form-group">
                <label for="category">Category</label>
                <!-- <input class="form-control" id="category" ng-model="data.category"/> -->
                <div isteven-multi-select
                    input-model="input.categoriesList"
                    output-model="data.category"
                    button-label="categoryName"
                    item-label="categoryName"
                    tick-property="isSelected">
                </div>
            </div>
            <div class="form-group">
                <label for="tags">Project Tags</label>
                <tags-input class="project-tags" id="tags" ng-model="data.tags"></tags-input>
            </div>
            <div class="form-group">
                <label for="description">Project Description</label>
                <textarea class="form-control" rows="5" id="description" ng-model="data.description" maxlength="300"></textarea>
                <p class="remaining-chars">{{300 - data.description.length}} left</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 np">
                <label class="col-md-3 np">Credits</label>
                <div class="col-md-6">
                    <div ng-repeat="creditsUser in data.credits">
                        <strong ng-bind="creditsUser.label"></strong>
                        <span ng-bind="creditsUser.user"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-success" ng-click="addCredits()">Add credits</button>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Tools used</label>
                <input type='text' ng-model="data.tools" class="form-control"/>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="data.adultContent"> Adult content
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="data.isDraft"> Save as draft
                </label>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div ng-switch="config.type">
        <div ng-switch-when="set-settings">
            <button type="button" class="btn btn-default" ng-click="save">Save changes</button>
            <button type="button" class="btn btn-success" ng-click="saveProject(true)">Publish</button>
        </div>
        <div ng-switch-default>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            <button class="btn btn-success" ng-click="save()">Save</button>
        </div>
    </div>
</div>