<div class="modal-header">
    <div class="project-title">
        <h1>
            <span ng-bind="data.projectTitle" ng-if="data.projectTitle"></span>
            <span ng-bind="input.defaultTitle" ng-if="!data.projectTitle"></span>
        </h1>
    </div>
</div>
<div class="modal-body">
    <div class="col-md-9 row preview-container">
        <div class="project-content preview-content" ng-style="{background: getBackground()}">
            <div class="project-item" ng-class="'item-type-'+projectItem.type" ng-repeat="projectItem in data.items">
                <div ng-hide="projectItem.isActiveEdit === true">
                    <div class="text-item" ng-bind-html="parseHtml($index)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="preview-right">
            <div class="right-block">
                <p class="heading">Author</p>
                <p ng-bind="input.userNames">User-name</p>
            </div>
            <div class="right-block">
                <p class="heading">Category</p>
                <p ng-bind="data.creativeFields"></p>
            </div>
            <div class="right-block">
                <p class="heading">Tools Used</p>
                <p ng-repeat="tool in data.tools" ng-bind="tool"></p>
            </div>
            <div class="right-block">
                <p class="heading">Project Description</p>
                <p ng-bind="data.description"></p>
            </div>
            <div class="right-block">
                <p class="heading">Views</p>
            </div>
            <div class="right-block">
                <p class="heading">Likes</p>
            </div>
            <div class="right-block">
                <p class="heading">Comments</p>
            </div>
            <div class="right-block">
                <p class="heading">Tags</p>
                <p ng-bind="data.tags"></p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-success" ng-click="saveProject(true)">Publish</button>
</div>